<h2>Select User to view balance logs</h2>

{{#each users}}
<div class="user-container">
    {{name}}
    {{!-- <h3>
        <a href="user/{{_id}}">
            {{name}}
        </a>
    </h3> --}}

<div>{{name}}</div>

</div>
{{/each}}