<h1>Welcome to your personal health tracker. Don't catch you slippin' now!</h1>

<a href="/user/:id/fitness" class="waves-effect waves-light btn-large">FITNESS LOG</a>
<a href="/user/:id/nutrition" class="waves-effect waves-light btn-large">NUTRITION LOG</a>