<main class="user-new">

    <h2>Create Your Profile</h2>

    <a href="/">Return to Home Page</a>

    <div id="new-form" class="user-container-show">

        <form class="user-label" action="/user" method="POST">
            <div>
                <label class="user-label" for="first_name">First Name: </label>
                <input type="text" name="first_name">
            </div>
            <div>
                <label class="user-label" for="last_name">Last Name: </label>
                <input type="text" name="last_name">
            </div>
            <div>
                <label class="user-label" for="age">Age: </label>
                <input type="number" name="age">
            </div>
            <div>
                <label class="user-label" for="height">Height(cm): </label>
                <input type="text" name="height">
            </div>
            <div>
                <label class="user-label" for="weight">Weight(lbs):</label>
                <input type="text" name="weight">
            </div>
            <div>
                <label class="user-label" for="goals">Goals:</label>:
                <input type="text" name="goals">
            </div>

            <button type="submit" class="waves-effect orange btn">Create New Profile
                <i class="material-icons right">send</i>
            </button>


        </form>

    </div>
</main>