<main>

    <h2>Create Your Profile</h2>

    <a href="/">Return to Home Page</a>

    <div id="new-form" class="user-container-show">

        <form action="/user" method="POST">
            <div>
                <label for="first_name">First Name: </label>
                <input type="text" name="first_name">
            </div>
            <div>
                <label for="last_name">Last Name: </label>
                <input type="text" name="last_name">
            </div>
            <div>
                <label for="age">Age: </label>
                <input type="number" name='age'>
            </div>
            <div>
                <label for="height">Height: </label>
                <input type="text" name="height">
            </div>
            <div>
                <label for="weight">Weight:</label>: </label>
                <input type="text" name="weight">
            </div>
            <div>
                <label for="goals">Goals:</label>: </label>
                <input type="text" name="goals">
            </div>

            <button type="submit">Create New
                Profile
                <i class="material-icons right">send</i>
            </button>


        </form>

    </div>
</main>