<div class="homepage">

    <h2>Welcome to Self-Symmetry!!
        This personal health tracker is here to help you stay on top of your progress
        toward a healthier lifestlye. Keep yourself in check!
    </h2>

    <p class="homepage-p">Move on to <a href="user/new">create your profile</a>!</p>

</div>