
    <a href="/"><h1>Self-Symmetry</h1></a>

<a href="/user/:id/fitness" class="waves-effect waves-light btn-large">FITNESS LOG</a>
<a href="/user/:id/nutrition" class="waves-effect waves-light btn-large">NUTRITION LOG</a>