<a href="/">
    <h1>Self-Symmetry</h1>
</a>

<h1>Welcome to Self-Symmetry!!
    This personal health tracker is here to help you stay on top of your progress
    toward a healthier lifestlye. Keep yourself in check!
</h1>

<p>Move on to <a href="/views/user/new.hbs">create your profile</a>!</p>